 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 50px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  align-self: center;
  border-style: solid;
  margin: 1px auto 0 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  align-self: center;
  border-style: solid;
  margin: -49px auto 0 107px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  align-self: center;
  border-style: solid;
  margin: -49px auto 0 280px;
  padding: 10px 30px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  align-self: center;
  border-style: solid;
  margin: -50px 0 0 auto;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  align-self: center;
  border-style: solid;
  margin: -49px 132px 0 auto;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  align-self: center;
  border-style: solid;
  margin: -49px 252px 0 auto;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  align-self: center;
  border-style: solid;
  margin: -49px 358px 0 auto;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  border-style: solid;
  align-self: center;
  margin: -49px 492px 0 auto;
  padding: 10px 30px;
}

.u-section-1 .u-group-1 {
  width: 229px;
  min-height: 32px;
  height: auto;
  margin: -42px auto 11px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 0 0 157px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -32px 74px 0 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 44px;
}

.u-section-2 .u-text-1 {
  font-size: 2.0625rem;
  margin: 4px -54px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-weight: normal;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1004px;
}

.u-section-3 .u-group-1 {
  width: 1890px;
  min-height: 486px;
  height: auto;
  margin: 16px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 14px 15px 10px;
}

.u-section-3 .u-group-2 {
  min-height: 455px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 10px;
}

.u-section-3 .u-image-1 {
  width: 352px;
  height: 352px;
  margin: 25px auto 0 29px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -352px auto 0 439px;
}

.u-section-3 .u-image-2 {
  width: 200px;
  height: 200px;
  margin: 15px auto 0 439px;
}

.u-section-3 .u-image-3 {
  width: 200px;
  height: 200px;
  margin: -200px 387px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 200px;
  height: 200px;
  margin: -200px auto 0 697px;
}

.u-section-3 .u-image-5 {
  width: 200px;
  height: 200px;
  margin: -196px 645px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: -5px auto 0 760px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: -31px 450px 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: -32px auto 0 502px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: -28px 708px 0 auto;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  margin: 10px auto 0 512px;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  margin: -34px auto 0 770px;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-size: 1.25rem;
  margin: -34px 718px 0 auto;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  font-size: 1.25rem;
  margin: -34px 460px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 207px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 207px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 650px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 359px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 213px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 237px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 334px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 82px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -353px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 142px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 430px;
  }

  .u-section-3 .u-image-5 {
    margin-right: 430px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 266px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 158px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 176px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 248px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -296px;
    margin-left: 164px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 164px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 300px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 300px;
  }

  .u-section-3 .u-image-5 {
    margin-right: 300px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 211px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 140px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 264px;
    margin-left: 98px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -233px;
    margin-left: 98px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 100px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 100px;
  }

  .u-section-3 .u-image-5 {
    margin-right: 100px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 127px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 95px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 84px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 118px;
  }
}